In [2]:
import pandas as pd
from make_file_for_odds_ratio_child import GetData
from config import CONFIG

In [3]:
years = [2008, 2009, 2010]
CONFIG.update({"analysis_years": years})

In [4]:
dfs = GetData().execute()

File already exists: reading now...
File already exists: reading now...
File already exists: reading now...

In [ ]:
 def get_primary_risk_wrap(self, df):
        df = df[df['CASTHDX2'].isin([1, 2])]
        df['ASTHMA'] = df.apply(self.get_primary_risk, axis=1)
        df = df[df['ASTHMA'].isin([0,1])]
        return df

In [5]:
dfs[0]

,_STATE,CASTHDX2,CASTHNO2,RCSGENDR,_CPRACE,INCOME2,_INCOMG,CHILDREN,NUMADULT,HHADULT,_CHLDCNT,_CLLCPWT
0,4.0,2.0,NaN,2.0,1.0,6.0,4.0,3.0,2.0,2.0,4.0,7485.328643
1,4.0,2.0,NaN,2.0,6.0,4.0,2.0,2.0,2.0,2.0,3.0,1890.240612
2,4.0,2.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1023.635711
3,4.0,2.0,NaN,9.0,99.0,77.0,9.0,3.0,1.0,1.0,4.0,2881.669868
4,4.0,2.0,NaN,1.0,1.0,4.0,2.0,2.0,3.0,3.0,3.0,2047.271422
...,...,...,...,...,...,...,...,...,...,...,...,...
80025,72.0,1.0,2.0,2.0,6.0,4.0,2.0,2.0,2.0,2.0,3.0,1137.239163
80026,72.0,1.0,2.0,2.0,1.0,2.0,1.0,3.0,2.0,2.0,4.0,974.679407
80027,72.0,2.0,NaN,1.0,1.0,2.0,1.0,1.0,3.0,3.0,2.0,330.847088
80028,72.0,2.0,NaN,2.0,1.0,6.0,4.0,1.0,2.0,2.0,2.0,294.484841
80029,72.0,2.0,NaN,2.0,1.0,99.0,9.0,2.0,2.0,2.0,3.0,1137.239163

In [6]:
dfs[0]["CASTHDX2"].unique()

array([ 2.,  1.,  7.,  9., nan])

In [7]:
dfs[0]["CASTHNO2"].unique()

array([nan,  2.,  1.,  7.,  9.])