In [1]:
import pandas as pd

In [2]:
f1 = "data/BRFSS_health_data_2017_selected_columns.csv"
f2 = "data/COPD/2017 ACBS Adult Data SAS/ACBS_2017_ADULT_PUBLIC_LLCP.sas7bdat"

In [3]:
df1 = pd.read_csv(f1)

KeyboardInterrupt:

In [63]:
df1.head(2)

,Unnamed: 0,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,LADULT,CADULT,DISPCODE,...,_PRACE1,_MRACE1,_RACEG21,_CHLDCNT,_INCOMG,_SMOKER3,_RFSMOK3,_ECIGSTS,_CURECIG,_PNEUMO2
0,0,1.0,1.0,b'01302017',b'01',b'30',b'2017',NaN,NaN,1100.0,...,1.0,1.0,1.0,1.0,4.0,4.0,1.0,4.0,1.0,1.0
1,1,1.0,1.0,b'01122017',b'01',b'12',b'2017',NaN,NaN,1100.0,...,1.0,1.0,1.0,1.0,5.0,4.0,1.0,4.0,1.0,1.0

In [64]:
df2 = pd.read_sas(f2)

In [65]:
df2

,_state,seqno,_PSU,ORGSEQNO,IMONTH,IMONTH_F,IDAY,IDAY_F,IYEAR,IYEAR_F,...,_IMPMRTL,_IMPHOME,OTH_I1,OTH_P1,OTH_S1,OTH_N1,REGION_F,PILLS_ID_49,PILL01_49,QSTLANG_F
0,4.0,2.017000e+09,2.017000e+09,b'042017000635',b'01',b'02',b'22',b'21',b'2017',b'2017',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4.0,2.017000e+09,2.017000e+09,b'042017000687',b'01',b'02',b'18',b'27',b'2017',b'2017',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.0,2.017000e+09,2.017000e+09,b'042017001706',b'01',b'02',b'17',b'15',b'2017',b'2017',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,2.017000e+09,2.017000e+09,b'042017002833',b'02',b'03',b'19',b'16',b'2017',b'2017',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,2.017000e+09,2.017000e+09,b'042017003337',b'03',b'03',b'01',b'25',b'2017',b'2017',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13567,72.0,2.017004e+09,2.017004e+09,b'722017016443',b'01',b'03',b'17',b'01',b'2018',b'2018',...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13568,72.0,2.017004e+09,2.017004e+09,b'722017016475',b'01',b'02',b'17',b'22',b'2018',b'2018',...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13569,72.0,2.017004e+09,2.017004e+09,b'722017016477',b'01',b'03',b'05',b'01',b'2018',b'2018',...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13570,72.0,2.017004e+09,2.017004e+09,b'722017016495',b'12',b'03',b'28',b'03',b'2017',b'2018',...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13571,72.0,2.017004e+09,2.017004e+09,b'722017016639',b'02',b'02',b'08',b'22',b'2018',b'2018',...,5.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
# Ever told asthma: No
lifetime_asthma_ques = df1.groupby(['_STATE','ASTHMA3'])['ASTHMA3'].agg(['count']).reset_index()
never_asthma = lifetime_asthma_ques["ASTHMA3"]==2.0
never_asthma_df = lifetime_asthma_ques[never_asthma]

In [67]:
import os
folders = ["Computed", "Computed/incidence"]
for folder in folders:
    try:
        os.mkdir(folder)
    except:
        pass

In [68]:
w_fname = "Computed/incidence/never_asthma_statewise.csv"
never_asthma_df.to_csv(w_fname, index=False)

In [92]:
df2[['_state','AGEDX','INCIDNT']]

valid_age = (df2['AGEDX'] != 777) | (df2['AGEDX'] != 999)
last_12_months = df2['INCIDNT'] == 1
df2_valid_age = df2[valid_age]
incidence_by_state = df2_valid_age[last_12_months].groupby(['_state'])['_state'].agg(['count']).reset_index()

In [143]:
incidence = df2_valid_age[last_12_months]['seqno'].agg(['count'])

In [147]:
incidence = df2_valid_age[last_12_months]['seqno'].agg(['count']).reset_index()['count'].tolist()[0]
incidence

   index  seqno
0  count    287

In [95]:
never_asthma_df['_STATE'].unique().shape

(53,)

In [138]:
incidence_by_state

    _state  count
0      4.0     15
1      9.0      7
2     12.0     22
3     13.0      7
4     15.0      5
5     17.0      6
6     18.0     14
7     19.0      3
8     20.0     13
9     21.0      8
10    23.0      9
11    25.0      4
12    26.0     12
13    27.0     18
14    29.0      6
15    30.0      4
16    31.0     21
17    32.0      3
18    33.0      6
19    34.0     19
20    35.0      9
21    36.0      9
22    39.0     18
23    41.0      6
24    42.0      3
25    44.0      6
26    48.0     11
27    49.0      4
28    50.0      9
29    55.0      7
30    72.0      3

In [100]:
fips_codes = "data/us-state-ansi-fips.csv"
fips = pd.read_csv(fips_codes)
fips.head(4)
fips.columns

Index(['stname', ' st', ' stusps'], dtype='object')

In [104]:
acbs_participating_states = incidence_by_state[['_state']].merge(fips, left_on="_state", right_on=' st')

In [114]:
acbs_participating_states

    _state         stname   st  stusps
0      4.0        Arizona    4      AZ
1      9.0    Connecticut    9      CT
2     12.0        Florida   12      FL
3     13.0        Georgia   13      GA
4     15.0         Hawaii   15      HI
5     17.0       Illinois   17      IL
6     18.0        Indiana   18      IN
7     19.0           Iowa   19      IA
8     20.0         Kansas   20      KS
9     21.0       Kentucky   21      KY
10    23.0          Maine   23      ME
11    25.0  Massachusetts   25      MA
12    26.0       Michigan   26      MI
13    27.0      Minnesota   27      MN
14    29.0       Missouri   29      MO
15    30.0        Montana   30      MT
16    31.0       Nebraska   31      NE
17    32.0         Nevada   32      NV
18    33.0  New Hampshire   33      NH
19    34.0     New Jersey   34      NJ
20    35.0     New Mexico   35      NM
21    36.0       New York   36      NY
22    39.0           Ohio   39      OH
23    41.0         Oregon   41      OR
24    42.0   Pennsylvania   42      PA
25    44.0   Rhode Island   44      RI
26    48.0          Texas   48      TX
27    49.0           Utah   49      UT
28    50.0        Vermont   50      VT
29    55.0      Wisconsin   55      WI

In [128]:
f_epa = "data/states_and_counties.csv"
epa_codes = pd.read_csv(f_epa)
epa_codes = epa_codes[epa_codes['State Code']!='CC']
epa_codes['State Code'] = epa_codes['State Code'].apply(int)

In [132]:
epa_codes = epa_codes.drop_duplicates(['State Code'], keep='first')

In [119]:
epa_codes['State Code'].unique()

array([ 1,  2,  4,  5,  6,  8,  9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20,
       21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37,
       38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56,
       66, 72, 78, 80], dtype=int64)

In [135]:
acbc_states_by_epa_region = acbs_participating_states.merge(epa_codes[['State Code', 'State Name', 'EPA Region']], left_on=" st", right_on='State Code', how='left')

In [137]:
acbc_states_by_epa_region.sort_values(by='EPA Region')

    _state         stname   st  stusps  State Code     State Name  EPA Region
1      9.0    Connecticut    9      CT           9    Connecticut           1
28    50.0        Vermont   50      VT          50        Vermont           1
11    25.0  Massachusetts   25      MA          25  Massachusetts           1
10    23.0          Maine   23      ME          23          Maine           1
18    33.0  New Hampshire   33      NH          33  New Hampshire           1
25    44.0   Rhode Island   44      RI          44   Rhode Island           1
19    34.0     New Jersey   34      NJ          34     New Jersey           2
21    36.0       New York   36      NY          36       New York           2
24    42.0   Pennsylvania   42      PA          42   Pennsylvania           3
9     21.0       Kentucky   21      KY          21       Kentucky           4
3     13.0        Georgia   13      GA          13        Georgia           4
2     12.0        Florida   12      FL          12        Florida           4
5     17.0       Illinois   17      IL          17       Illinois           5
12    26.0       Michigan   26      MI          26       Michigan           5
13    27.0      Minnesota   27      MN          27      Minnesota           5
22    39.0           Ohio   39      OH          39           Ohio           5
6     18.0        Indiana   18      IN          18        Indiana           5
29    55.0      Wisconsin   55      WI          55      Wisconsin           5
26    48.0          Texas   48      TX          48          Texas           6
20    35.0     New Mexico   35      NM          35     New Mexico           6
14    29.0       Missouri   29      MO          29       Missouri           7
16    31.0       Nebraska   31      NE          31       Nebraska           7
8     20.0         Kansas   20      KS          20         Kansas           7
7     19.0           Iowa   19      IA          19           Iowa           7
15    30.0        Montana   30      MT          30        Montana           8
27    49.0           Utah   49      UT          49           Utah           8
4     15.0         Hawaii   15      HI          15         Hawaii           9
17    32.0         Nevada   32      NV          32         Nevada           9
0      4.0        Arizona    4      AZ           4        Arizona           9
23    41.0         Oregon   41      OR          41         Oregon          10